<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
         rel="stylesheet"
      />
   </head
   <body
      style="
         background-color: #F7F8F9;
         box-sizing: border-box;
         padding: 0;
         margin: 0;
         font-family: 'Poppins', sans-serif;
      "
   >
      <table style="width: 100%;
      min-width: 100%;">
         <tr>
            <td style="display: block;
            max-width: 500px;
            margin: 0 auto;
            padding: 0 16px;">
               <div style="text-align: center;">
                  <img
                     class="logo"
                     src="https://raw.githubusercontent.com/Rauliqbal/mridev-site-v2/af44121efca215f6daac070e06a54f49bfb03de2/assets/images/logo.svg?token=AVLWYDCKITKM5H3PIR7SPWDGBAU7G"
                     alt="Logo Rauliqbal"
                     width="500"
                     style="border:0; outline:none; text-decoration:none; display:block;"
                  />
               </div>
               <div style=" background-color: #ffffff;
               border-radius: 14px;
               box-shadow: -2px 6px 26px 2px rgba(214, 214, 214, 0.18);
               -webkit-box-shadow: -2px 6px 26px 2px rgba(214, 214, 214, 0.18);
               -moz-box-shadow: -2px 6px 26px 2px rgba(214, 214, 214, 0.18);">
                  <table style="padding: 24px 16px; ">
                     <tr>
                        <td>
                           <h1 style="font-size: 24px;
                           padding-bottom: 14px;" align="center">Hi!, Muhamad Raul Iqbal 👋</h1>
                           <p style="font-size: 16px;">
                              Seseorang baru saja mengirimkan pesan dari
                              <a href="https://rauliqbal.my.id"
                                 >Website Portfolio</a
                              >, ini kata beliau :
                           </p>

                          
                           <p style="color: #929292 ; margin: 26px 0 0 0; font-size: 16px; font-weight: 500;">Nama :</p>
                           <p style="margin: 8px 0 0 0; font-size: 16px;">Mas Rauliqbal</p>
                          
                           <p style="color: #929292 ; margin: 26px 0 0 0; font-size: 16px; font-weight: 500;">Email:</p>
                           <p style="margin: 8px 0 0 0; font-size: 16px;">cihuuy@gmail.com</p>
                          
                           <p style="color: #929292 ; margin: 26px 0 0 0; font-size: 16px; font-weight: 500;">Subject:</p>
                           <p style="margin: 8px 0 0 0; font-size: 16px;">Tolong Aku!</p>
                          
                           <p style="color: #929292 ; margin: 26px 0 0 0; font-size: 16px; font-weight: 500;">Pesan:</p>
                           <p style="margin: 8px 0 0 0; font-size: 16px;">
                              Lorem ipsum dolor sit amet consectetur adipisicing
                              elit. Minus, laborum?
                           </p>
                        </td>
                     </tr>
                  </table>
               </div>
               
            </td>
         </tr>
      </table>
      <table style="padding-top: 16px; width: 100%;
                  min-width: 100%;">
                     <tr>
                        <td
                           align="center"
                           style="color: #7c7c7c; padding-bottom: 16px"
                        >
                           © 2021 - 2024, Rauliqbal
                        </td>
                     </tr>
                     <tr>
                        <td align="center">
                           <span style="font-size: 14px; color: #7c7c7c"
                              >Powered By Exress JS + Nodemailer</span
                           >
                        </td>
                     </tr>
                  </table>
   </body>
</html>
